@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap");

.compare {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lang,
.format,
.textarea,
.scompare-button,
.same-font {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
